{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": 54,
                    "edge": 13,
                    "firefox": 49,
                    "ie": 10,
                    "ios": 10,
                    "safari": 9,
                    "opera": 41
                }
            }
        ]
    ]
}